<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd  
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<description>MyBatis的数据库持久层配置/配置主-从数据源</description>

	<bean id="masterSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="masterDataSource" />
		<property name="plugins">
			<array>
				<bean class="com.github.pagehelper.PageInterceptor">
					<property name="properties" value="helperDialect=mysql"/>
				</bean>
			</array>
		</property>
		<property name="mapperLocations" value="classpath*:mybatis/master/**/*.xml" />
	</bean>

	<bean id="slaveSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="slaveDataSource" />
		<property name="plugins">
			<array>
				<bean class="com.github.pagehelper.PageInterceptor">
					<property name="properties">
						<value>
							helperDialect=mysql
						</value>
					</property>
				</bean>
			</array>
		</property>
		<property name="mapperLocations" value="classpath*:mybatis/slave/**/*.xml" />
	</bean>

	<bean id="sqlSessionTemplate" class="com.site.common.framework.sqlsession.CustomSqlSessionTemplate" scope="prototype">
		<constructor-arg ref="slaveSqlSessionFactory" />
		<property name="targetSqlSessionFactorys">
			<map>
				<entry value-ref="slaveSqlSessionFactory" key="slave" />
				<entry value-ref="masterSqlSessionFactory" key="master" />
			</map>
		</property>
	</bean>

	<bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.site.mapper" />
		<property name="sqlSessionTemplateBeanName" value="sqlSessionTemplate" />
		<property name="markerInterface" value="com.site.mapper.SqlMapper" />
	</bean>

</beans>    