<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd  
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

	<!-- <util:properties id="p_datasource" location="classpath:/config/jdbc2.properties" /> -->

	<!-- <bean id="masterDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close"> -->
	<!-- <property name="url" value="#{p_datasource['master.datasource.url']}" /> -->
	<!-- <property name="username" value="#{p_datasource['master.datasource.username']}" /> -->
	<!-- <property name="password" value="#{p_datasource['master.datasource.password']}" /> -->
	<!-- <property name="driverClassName" value="#{p_datasource['master.datasource.driverClassName']}" /> -->
	<!-- <property name="validationQuery" value="#{p_datasource['master.datasource.validationQuery']}" /> -->

	<!-- <property name="initialSize" value="#{p_datasource['druid.datasource.initialSize']}" /> -->
	<!-- <property name="maxActive" value="#{p_datasource['druid.datasource.maxActive']}" /> -->
	<!-- <property name="minIdle" value="#{p_datasource['druid.datasource.minIdle']}" /> -->
	<!-- <property name="maxWait" value="#{p_datasource['druid.datasource.maxWait']}" /> -->
	<!-- <property name="useUnfairLock" value="#{p_datasource['druid.datasource.useUnfairLock']}" /> -->
	<!-- <property name="testOnBorrow" value="#{p_datasource['druid.datasource.testOnBorrow']}" /> -->
	<!-- <property name="testOnReturn" value="#{p_datasource['druid.datasource.testOnReturn']}" /> -->
	<!-- <property name="testWhileIdle" value="#{p_datasource['druid.datasource.testWhileIdle']}" /> -->
	<!-- <property name="timeBetweenEvictionRunsMillis" value="#{p_datasource['druid.datasource.timeBetweenEvictionRunsMillis']}" /> -->
	<!-- <property name="minEvictableIdleTimeMillis" value="#{p_datasource['druid.datasource.minEvictableIdleTimeMillis']}" /> -->
	<!-- <property name="filters" value="#{p_datasource['druid.datasource.filters']}" /> -->
	<!-- </bean> -->

	<!-- <bean id="slaveDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close"> -->
	<!-- <property name="url" value="#{p_datasource['slave.datasource.url']}" /> -->
	<!-- <property name="username" value="#{p_datasource['slave.datasource.username']}" /> -->
	<!-- <property name="password" value="#{p_datasource['slave.datasource.password']}" /> -->
	<!-- <property name="driverClassName" value="#{p_datasource['slave.datasource.driverClassName']}" /> -->
	<!-- <property name="validationQuery" value="#{p_datasource['slave.datasource.validationQuery']}" /> -->

	<!-- <property name="initialSize" value="#{p_datasource['druid.datasource.initialSize']}" /> -->
	<!-- <property name="maxActive" value="#{p_datasource['druid.datasource.maxActive']}" /> -->
	<!-- <property name="minIdle" value="#{p_datasource['druid.datasource.minIdle']}" /> -->
	<!-- <property name="maxWait" value="#{p_datasource['druid.datasource.maxWait']}" /> -->
	<!-- <property name="useUnfairLock" value="#{p_datasource['druid.datasource.useUnfairLock']}" /> -->
	<!-- <property name="testOnBorrow" value="#{p_datasource['druid.datasource.testOnBorrow']}" /> -->
	<!-- <property name="testOnReturn" value="#{p_datasource['druid.datasource.testOnReturn']}" /> -->
	<!-- <property name="testWhileIdle" value="#{p_datasource['druid.datasource.testWhileIdle']}" /> -->
	<!-- <property name="timeBetweenEvictionRunsMillis" value="#{p_datasource['druid.datasource.timeBetweenEvictionRunsMillis']}" /> -->
	<!-- <property name="minEvictableIdleTimeMillis" value="#{p_datasource['druid.datasource.minEvictableIdleTimeMillis']}" /> -->
	<!-- <property name="filters" value="#{p_datasource['druid.datasource.filters']}" /> -->
	<!-- </bean> -->

	<context:property-placeholder location="classpath*:config/jdbc.properties" ignore-unresolvable="true" />

	<bean id="abstractXADataSource" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close" abstract="true">
		<property name="poolSize" value="${datasource.poolSize}" />
		<property name="minPoolSize" value="${datasource.minPoolSize}" />
		<property name="maxPoolSize" value="${datasource.maxPoolSize}" />
		<property name="borrowConnectionTimeout" value="${datasource.borrowConnectionTimeout}" />
		<property name="reapTimeout" value="${datasource.reapTimeout}" />
		<property name="maxIdleTime" value="${datasource.maxIdleTime}" />
		<property name="maintenanceInterval" value="${datasource.maintenanceInterval}" />
		<property name="loginTimeout" value="${datasource.loginTimeout}" />
		<property name="logWriter" value="${datasource.logWriter}" />
	</bean>

	<bean id="masterDataSource" parent="abstractXADataSource">
		<property name="uniqueResourceName" value="master" />
		<property name="xaDataSourceClassName" value="${master.datasource.xaDataSourceClassName}" />
		<property name="testQuery" value="${master.datasource.testQuery}" />
		<property name="xaProperties">
			<props>
				<prop key="URL">${master.datasource.url}</prop>
				<prop key="user">${master.datasource.username}</prop>
				<prop key="password">${master.datasource.password}</prop>
			</props>
		</property>
	</bean>

	<bean id="slaveDataSource" parent="abstractXADataSource">
		<property name="uniqueResourceName" value="slave" />
		<property name="xaDataSourceClassName" value="${slave.datasource.xaDataSourceClassName}" />
		<property name="testQuery" value="${slave.datasource.testQuery}" />
		<property name="xaProperties">
			<props>
				<prop key="URL">${slave.datasource.url}</prop>
				<prop key="user">${slave.datasource.username}</prop>
				<prop key="password">${slave.datasource.password}</prop>
			</props>
		</property>
	</bean>

	<!-- <bean id="dynamicDatasource" class="com.site.common.framework.datasource.DynamicDataSource"> -->
	<!-- <property name="targetDataSources"> -->
	<!-- <map key-type="java.lang.String"> -->
	<!-- <entry key="master" value-ref="masterDataSource" /> -->
	<!-- <entry key="slave" value-ref="slaveDataSource" /> -->
	<!-- </map> -->
	<!-- </property> -->
	<!-- <property name="defaultTargetDataSource" ref="masterDataSource" /> -->
	<!-- </bean> -->

	<!-- <bean id="dataSourceAspect" class="com.site.common.framework.datasource.DataSourceAspect" /> -->

	<!-- <aop:config> -->
	<!-- <aop:aspect order="1" ref="dataSourceAspect"> -->
	<!-- <aop:before pointcut="execution(* com.site.service..*Service.*(..))" method="before" /> -->
	<!-- </aop:aspect> -->
	<!-- </aop:config> -->

</beans>    