<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd  
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

	<util:properties id="p_db" location="classpath:/config/jdbc.properties" />

	<!-- 主数据源，使用alibaba druid连接池 -->
	<bean id="masterDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName" value="#{p_db['master.driverClassName']}" />
		<property name="url" value="#{p_db['master.url']}" />
		<property name="username" value="#{p_db['master.username']}" />
		<property name="password" value="#{p_db['master.password']}" />
		<property name="validationQuery" value="#{p_db['master.validationQuery']}" />
		
		<property name="initialSize" value="#{p_db['ds.initialSize']}" />
		<property name="maxActive" value="#{p_db['ds.maxActive']}" />
		<property name="minIdle" value="#{p_db['ds.minIdle']}" />
		<property name="maxWait" value="#{p_db['ds.maxWait']}" />
		<property name="useUnfairLock" value="#{p_db['ds.useUnfairLock']}" />
		<property name="testOnBorrow" value="#{p_db['ds.testOnBorrow']}" />
		<property name="testOnReturn" value="#{p_db['ds.testOnReturn']}" />
		<property name="testWhileIdle" value="#{p_db['ds.testWhileIdle']}" />
		<property name="timeBetweenEvictionRunsMillis" value="#{p_db['ds.timeBetweenEvictionRunsMillis']}" />
		<property name="minEvictableIdleTimeMillis" value="#{p_db['ds.minEvictableIdleTimeMillis']}" />
		<property name="filters" value="#{p_db['ds.filters']}" />
	</bean>
	
	<!-- 从数据源，使用alibaba druid连接池 -->
	<bean id="slaveDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName" value="#{p_db['slave.driverClassName']}" />
		<property name="url" value="#{p_db['slave.url']}" />
		<property name="username" value="#{p_db['slave.username']}" />
		<property name="password" value="#{p_db['slave.password']}" />
		<property name="validationQuery" value="#{p_db['slave.validationQuery']}" />
		
		<property name="initialSize" value="#{p_db['ds.initialSize']}" />
		<property name="maxActive" value="#{p_db['ds.maxActive']}" />
		<property name="minIdle" value="#{p_db['ds.minIdle']}" />
		<property name="maxWait" value="#{p_db['ds.maxWait']}" />
		<property name="useUnfairLock" value="#{p_db['ds.useUnfairLock']}" />
		<property name="testOnBorrow" value="#{p_db['ds.testOnBorrow']}" />
		<property name="testOnReturn" value="#{p_db['ds.testOnReturn']}" />
		<property name="testWhileIdle" value="#{p_db['ds.testWhileIdle']}" />
		<property name="timeBetweenEvictionRunsMillis" value="#{p_db['ds.timeBetweenEvictionRunsMillis']}" />
		<property name="minEvictableIdleTimeMillis" value="#{p_db['ds.minEvictableIdleTimeMillis']}" />
		<property name="filters" value="#{p_db['ds.filters']}" />
	</bean>

	<!-- 总数据源 -->
	<bean id="dataSource" class="com.site.common.framework.datasource.DynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry key="master" value-ref="masterDataSource" />
				<entry key="slave" value-ref="slaveDataSource" />
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="masterDataSource" />
	</bean>

	<!-- 数据源Aspect -->
	<bean id="dataSourceAspect" class="com.site.common.framework.datasource.DataSourceAspect" />

	<!-- 数据源AOP -->
	<aop:config>
		<aop:aspect order="1" ref="dataSourceAspect">
			<aop:before pointcut="execution(* com.site..*Service.*(..))" method="before" />
		</aop:aspect>
	</aop:config>

</beans>    