<?xml version="1.0" encoding="UTF-8"?>
<!-- status=debug 可以查看log4j的装配过程 -->
<configuration status="off" monitorInterval="1800">

	<!-- Log4j 2 包含了基于LMAX 分离库的下一代的异步日志系统，在多线程环境下，异步日志系统比 Log4j 1.x 和Logback 提高了10倍性能提升（吞吐量和延迟率 ） -->

	<properties>
		<!-- 日志备份目录 -->
		<property name="BACKUP_HOME">./logs</property>
		<property name="PROJECT_NAME">web</property>
	</properties>

	<appenders>
		<!-- 定义控制台输出 -->
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="[${PROJECT_NAME}]%date{yy/MM/dd HH:mm:ss.SSS} %-5level [%thread] %logger{15}(%line) - %msg%n" />
		</Console>

		<!-- 应用日志 -->
		<RollingRandomAccessFile name="BusinessLog" fileName="${BACKUP_HOME}/Business.log" filePattern="${BACKUP_HOME}/Business.%d{yyyy-MM-dd_HH}.log">
			<PatternLayout pattern="[${PROJECT_NAME}]%date{yy/MM/dd HH:mm:ss.SSS} %-5level [%thread] %logger{15}(%line) - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingRandomAccessFile>
	</appenders>

	<loggers>

		<logger name="com.rpc" level="debug" />

		<!-- 3rdparty Loggers -->
		<logger name="org.springframework" level="info" />
		<logger name="org.apache" level="info" />
		<logger name="com.alibaba" level="info" />
		<logger name="com.netflix" level="info" />

		<!-- Root Logger -->
		<root level="debug">
			<appender-ref ref="Console" />
			<appender-ref ref="BusinessLog" />
		</root>

	</loggers>

</configuration>